<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<main class="homepage">
			<div class="button-section">
				<div class="first-button">
          			<div class="button-image">
            			<button type="button" (click)="openDialog()"><img src="../assets/tibby etoile.jpg" alt="etoile"></button>
          			</div>
				</div>
				<div class="second-button">
					<div class="button-secondimage">
						<button type="button"></button>  
					</div>  
				</div>
				<div class="third-button">
					<div class="button-thirdimage">
						<button type="button"></button>  
					</div> 
				</div>
				<div class="fourth-button">
					<div class="button-fourthimage">
						<button type="button"><img src="../assets/tibby euro.jpg" alt="euro"></button>  
					</div> 
				</div>
			</div>
		</main>
	</body>
</html>
